* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color:#ADD8E6;
  text-align: center;
  color: white;
  font-family: 'Nerko One', cursive;
}

header {
  font-size: 50px;
  margin-top: 20px;
}

main {
  margin: 30px auto;
  width: 80%;
  height: 1000px;
}

/*first-row section*/
.card {
  background-color: white;
  width: 200px;
  height: 235px;
  border-radius: 20px;
  color: black;
  background-image: url("../img/pattern.png");
  background-size:contain;
  background-position: center;
}

.card:hover {
  background-color: white;
  width: 200px;
  height: 235px;
  border-radius: 20px;
  color: black;
  background-image:none;
  
}

.card img {
  width: 175px;
  margin: auto;

}
.card h2 {
  font-size: 35px;
  margin-top: 2px;

}
.card img {
  display: none;
}

.card h2 {
  display: none;
}


.card:hover img {
  display: block;
}

.card:hover h2 {
  display: block;
}
/*/first-row section*/
